@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<MvcSite.Models.Departmanlar>
@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Departman Adı</th>
            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>
            <th scope="col">Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.DepartmanAdi</td>
                <td><a href="/Departman/DepartmanSil/@item.ID/" class="btn btn-danger">Sil</a></td>
                <td><a href="/Departman/DepartmanGetir/@item.ID/" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Departman/DepartmanDetay/@item.ID/" class="btn btn-dark">Detay</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Departman/YeniDepartman/" class="btn btn-primary">Departman Ekle</a>
